@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.visible { 
    display: none!important;
}

.col-2 img {
    height: 120px;
}

.neighbor-card:hover {
    cursor: pointer;
}